{% extends theme('base.html', false) %}
{% from theme('macros.html', false) import input %})
{% block page_title %}Login{% endblock %}
{% block flash_content %} {% endblock %}

{% block main_content %}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3">
        </div>
        <div class="span6">
            <h1>Login</h1>
            <h3>Did you mean to <a href="{{url_for('.register')}}">register</a> instead?</h3>
            <br/>
            {% with flash = get_flashed_messages(with_categories=true) %}

            {% if flash %}
            <div class="row-fluid">
                {% for category, message in flash %}
                <div class="span12">
                    <div class="alert {% if category == "error" %} alert-error {% else %} alert-success {% endif %}" id="flash">
                    <button class="close" data-dismiss="alert">×</button>
                    {{message}}
                </div>

            </div>
            {% endfor %}
            <div class="span3">
            </div>
            {% endif %}
            {% endwith %}

        <div class="row-fluid">
                <div class="span12" id="example-1" >
                    <div class="span8 well">
                        <form action="{{ url_for('auth.authenticate') }}" method="POST"  class="form-horizontal">
                            <legend>{{config.SITE_SETTINGS.SHORT_NAME}} Login</legend>
                            {{input (form.username, errors=form.errors) }}
                            {{input (form.password, errors=form.errors) }}
                            {{input (form.remember, errors=form.errors) }}
                            {{form.hidden_tag()}}
                            <button type="submit" id="SaveAccount" name="process" class="btn btn-primary submit pull-right">Login</button>
                        </form>
                    </div>
                    {% if facebook_enabled %}
                    <div class="span4 well">
                        <legend>Connect with</legend>
                        <a href="{{facebook_url}}"><img src="http://likeitpages.com/images/fb-connect-large.png"/></a>
                    </div>
                    {% endif %}

                </div>
            </div>
        </div>
        <div class="span3"></div>
    </div>
</div>

{% endblock %}