{% extends theme('base.html', false) %}
{% from theme('macros.html', false) import input %})
{% block page_title %}Create Your Account{% endblock %}

{% block main_content %}

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3">
        </div>
        <div class="span6">
            <h1>Hello!</h1>
            <h3>If you already have an account, you can <a href="{{url_for('.login')}}">login</a>.</h3>
            <br/>
            <div class="row-fluid">
                <div class="span8 well">
                        <form method="POST" id="registration_form" class="form-horizontal">
                            {{ form.csrf_token }}

                            <div class="step">
                                <fieldset>
                                    {% if form.custom_fields() %}
                                    <div style="text-align: right">Step 1 of 2</div>
                                    {% endif %}
                                    <legend>Basic Information </legend>
                                    {{ input(form.first_name, errors=form.errors) }}
                                    {{ input(form.last_name, errors=form.errors) }}
                                    {{ input(form.email, 'input-large email',remote=url_for('.username_valid'), errors=form.errors) }}
                                    {{ input(form.password, errors=form.errors) }}
                                    {{ input(form.confirm_password, errors=form.errors) }}

                                </fieldset>


                            </div>
                            {% if form.custom_fields() %}

                            <div class="step">

                                <fieldset>
                                    <div style="text-align: right">Step 2 of 2</div>

                                    <legend>Custom Questions</legend>
                                    {% for custom_field in form.custom_fields() %}
                                    {{ input(custom_field, errors=form.errors) }}
                                    {% endfor %}
                                </fieldset>
                            </div>
                            {% endif %}

                            {% if form.custom_fields() %}
                            <div class="navigation" style="text-align: right">
                                <button type="submit" name="backward" class="backward btn btn-danger"><i class="icon-chevron-left icon-white"></i> Back</button>
                                <button type="button" name="forward" id="forward" class="forward btn btn-success">Next <i class="icon-chevron-right icon-white"></i></button>
                                <button type="submit" id="SaveAccount" name="process" class="btn btn-primary submit">Done</button>
                            </div>
                            {% else %}
                            <div class="navigation" style="text-align: right">
                                <button type="submit" id="SaveAccount" name="process" class="btn btn-primary submit">Done</button>
                            </div>
                            {% endif %}
                        </form>
                </div>
                {% if facebook_enabled %}
                <div class="span4 well">
                    <legend>Register with</legend>
                    <a href="{{facebook_url}}"><img src="http://likeitpages.com/images/fb-connect-large.png"/></a>
                </div>
                {% endif %}

            </div>
        </div>
        <div class="span2"></div>
    </div><!--/containers-->
</div>
{% endblock %}

{% block bottom_javascript %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="{{ theme_static('bootstrap/js/jquery-ui-1.8.21.custom.min.js') }}"></script>
<script type="text/javascript" src="{{ theme_static('bootstrap/js/jquery.wizard.js') }}"></script>
<script type="text/javascript" src="{{ theme_static('bootstrap/js/jquery.form.js') }}"></script>
<script type="text/javascript" src="{{ theme_static('bootstrap/js/jquery.validate.js') }}"></script>
<script type="text/javascript" src="{{ theme_static('bootstrap/js/formToWizard.js') }}"></script>

<script src="{{ theme_static('bootstrap/js/bootstrap-button.js') }}"></script>
<script src="{{ theme_static('bootstrap/js/bootstrap-dropdown.js') }}"></script>

{% if form.custom_fields() %}
<script type="text/javascript">
    $(function(){
        $("#SaveAccount").hide();

        $("#registration_form").wizard({
            submit: ".submit",
            animations: {
                show: {
                    options: {
                        duration: 500
                    },
                    properties: {
                        opacity: "show",
                        height: 'toggle'

                    }
                },
                hide: {
                    options: {
                        duration: 500
                    },
                    properties: {
                        opacity: "hide",
                        height: 'toggle'

                    }
                }
            },
            afterSelect: function( event, state) {
                if (state.stepsRemaining == 0) {
                    $("#SaveAccount").show();
                    $("#forward").hide();
                    $("#SaveAccount").enable();
                } else {
                    $("#SaveAccount").hide();
                    $("#forward").show();

                }
            },
            beforeSelect: function( event, state ) {
                var inputs = $(this).wizard('state').step.find(':input');
                return !inputs.length || !!inputs.valid();
            }

        }).validate({
                    onkeyup: false,
                    onkeydown: false,
                    errorClass: "error",
                    rules: {
                        email: {
                            required: true,
                            email: true,
                            remote: "{{url_for('.username_valid')}}"
                        }
                    },
                    messages: {
                        email: {
                            remote: jQuery.validator.format("{0} is already registered.<br/> Try <a href='/login'>logging in</a>?"),
                            email: "Please enter a valid email address"
                        }
                    },
                    highlight: function(element, errorClass) {
                        $(element.form).find("label[for=" + element.id + "]").parent().addClass(errorClass);
                    },
                    unhighlight: function(element, errorClass) {
                        $(element.form).find("label[for=" + element.id + "]").parent().removeClass(errorClass);
                        $(element).parent().find(".formError")[0].innerHTML = "";
                    },
                    errorElement: "span",
                    errorPlacement: function(error, element) {
                        error.appendTo(element.parent().find(".formError")[0])
                    }

        })

    });
</script>
{% else %}
<script type="text/javascript">
    $(document).ready(function() {
        $("#registration_form").validate({
            onkeyup: false,
            onkeydown: false,
            errorClass: "error",
            rules: {
                email: {
                    required: true,
                    email: true,
                    remote: "{{url_for('.username_valid')}}"
                }
            },
            messages: {
                email: {
                    remote: jQuery.validator.format("{0} is already registered.<br/> Try <a href='/login'>logging in</a>?"),
                    required: "This is a required field",
                    email: "Please enter a valid email address"
                }
            },
            highlight: function(element, errorClass) {
                $(element.form).find("label[for=" + element.id + "]").parent().addClass(errorClass);
            },
            unhighlight: function(element, errorClass) {
                $(element.form).find("label[for=" + element.id + "]").parent().removeClass(errorClass);
                $(element).parent().find(".formError")[0].innerHTML = "";
            },
            errorElement: "span",
            errorPlacement: function(error, element) {
                error.appendTo(element.parent().find(".formError")[0])
            }

        })
    });

</script>

{% endif %}
{% endblock %}