{% extends theme('base.html', false) %}
{% from theme('macros.html', false) import input %})
{% block page_title %}Confirm your Facebook Credentials{% endblock %}

{% block main_content %}

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span2">
        </div>
        <div class="span8">
            <h1>Hey {{facebook_user.first_name}}!</h1>
            <h3>Before we continue, does this all look good?</h3>
            <br/>
                <div class="row-fluid">

                    <div class="span3">
                        <form class="form-horizontal" id="confirm_form"  method="POST" action="/i/fb/complete">

                        <ul class="thumbnails">
                            <li class="span12">
                                <div class="thumbnail">
                                    <img src="http://graph.facebook.com/{{facebook_user.facebook_id}}/picture?type=large"/>
                                    <div class="caption">
                                        <h5>Your Facebook Profile Picture</h5>
                                        <p>This is your current Facebook profile picture.  You can use another one if you want!</p>
                                        <p style="text-align: center"><a href="#" class="btn">Change</a></p>
                                    </div>
                                </div>
                            </li>
                        </ul>

                        </form>

                    </div>
                    <div class="span7 well" id="example-1" >
                        <form method="POST" id="wrapped" class="form-horizontal">
                        <div class="step">
                            <fieldset>
                                <div style="text-align: right">Step 1 of 2</div>

                                <legend>Your Info from Facebook </legend>
                                {{ input("First Name", "first_name", facebook_user.first_name ) }}
                                {{ input("Last Name", "last_name", facebook_user.last_name) }}
                                {{ input("Email Address", "email_address", facebook_user.email) }}

                            </fieldset>


                        </div>

                        <div class="step">

                            <fieldset>
                            <div style="text-align: right">Step 2 of 2</div>

                            <legend>Custom Questions</legend>
                            {{ input("Stuyvesant Class Year", "custom_class_year" ) }}
                            {{ input("Current Location", "location") }}
                            {{ input("What you're up to?", "location") }}
                            </fieldset>
                        </div>

                        <div class="navigation" style="text-align: right">
                            <button type="submit" name="backward" class="backward btn btn-danger"><i class="icon-chevron-left icon-white"></i> Back</button>
                            <button type="button" name="forward" id="forward" class="forward btn btn-success">Next <i class="icon-chevron-right icon-white"></i></button>
                            <button type="submit" id="SaveAccount" name="process" class="btn btn-success submit">Done</button>
                        </div>
                        </form>

                    </div>

                </div>
        </div>
        <div class="span2"></div>
    </div><!--/containers-->

{% endblock %}

{% block bottom_javascript %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="{{ theme_static('bootstrap/js/jquery-ui-1.8.21.custom.min.js') }}"></script>
<script type="text/javascript" src="{{ theme_static('bootstrap/js/jquery.wizard.js') }}"></script>
<script type="text/javascript" src="{{ theme_static('bootstrap/js/jquery.form.js') }}"></script>
<script type="text/javascript" src="{{ theme_static('bootstrap/js/jquery.validate.js') }}"></script>
<script type="text/javascript" src="{{ theme_static('bootstrap/js/formToWizard.js') }}"></script>

<script src="{{ theme_static('bootstrap/js/bootstrap-button.js') }}"></script>
<script src="{{ theme_static('bootstrap/js/bootstrap-dropdown.js') }}"></script>

<script type="text/javascript">
    $(function(){
        $("#progressbar").progressbar();
        $("#SaveAccount").hide();

        $("#example-1").wizard({
            stepsWrapper: "#wrapped",
            submit: ".submit",
            animations: {
                show: {
                    options: {
                        duration: 500
                    },
                    properties: {
                        opacity: "show",
                        height: 'toggle'

                    }
                },
                hide: {
                    options: {
                        duration: 500
                    },
                    properties: {
                        opacity: "hide",
                        height: 'toggle'

                    }
                }
            },
            afterSelect: function( event, state) {
                if (state.stepsRemaining == 0) {
                    $("#SaveAccount").show();
                    $("#forward").hide();
                    $("#SaveAccount").enable();
                } else {
                    $("#SaveAccount").hide();
                    $("#forward").show();

                }
            }

         }).wizard('form').submit(function( event ) {
                    event.preventDefault();
                    alert('Form submitted!');

         });

    });
</script>
{% endblock %}