{% extends 'configurator/config_base.html' %}
{% block right_body %}
    <h1>{{ meta_info.__meta__.Title }}</h1>
    <h5>Version: {{ meta_info.__meta__.Version }}</h5>
    <p>{{ meta_info.__meta__.Description }}</p>
    {%  set config = extension.config() %}
    <hr/>
    <form class="form-horizontal" method="POST">
    {% for config_field in config.get_fields() %}
    {{ config.field_to_html(config_field)|safe }}
    {% endfor %}
        <div class="form-actions">
            <button type="button" class="btn">Cancel</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
        </div>

    </form>
{% endblock %}