<div class="load_status" status_id="{{status.id}}" style="display:none;" added='true'>
    <div class="status_img"><img src="{{status.user.profile_image}}" /></div>
    <div class="status_text"><a href="#" class="blue">{{status.user.full_name}}</a>
        <p class="text">{{status.status_update}}</p>
        <div class="date" date_id="{{status.id}}">{{status.created_at}} UTC</div><div class="date"> &middot; <a href="#" class="light_blue">
            Awesome!</a> &middot; <a href="#" class="light_blue">Comment</a></div>
    </div>
    <div class="clear"></div>
</div>
<script type="text/javascript">
    $(function() {
        var status_date = $("div[date_id='{{status.id}}']")[0].innerHTML;
        $("div[date_id='{{status.id}}']")[0].innerHTML = new Date(status_date).toString('h:mm:ss tt dddd, MMMM dd, yyyy');
    });
</script>
