<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>

    {%block head %}
    <meta charset="utf-8">
    <title>{% block title %}{% block site_title %}{{config.SHORT_NAME}}{% endblock %} {% block page_title %} {% endblock %} {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block site_description%}{%endblock%}">
    <meta name="author" content="{% block author%}{%endblock%}">

    {% block css_head %}
    <link href="{{ theme_static('bootstrap/css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ theme_static('bootstrap/css/custom-theme/jquery-ui-1.8.16.custom.css') }}" rel="stylesheet">
    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }
        .sidebar-nav {
            padding: 9px 0;
        }
    </style>
    <link href="{{ theme_static('bootstrap/css/bootstrap-responsive.css') }}" rel="stylesheet">
    <link href="{{ theme_static('bootstrap/css/plain.css') }}" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="{{ theme_static('bootstrap/js/date.js') }}"/></script>
    <script src="{{ theme_static('bootstrap/js/plain.js') }}"/></script>
    <script src="{{ theme_static('js/common.js') }}"/></script>

    <script type='text/javascript'>
        hootenflaten.awesome_status = function(status_id) {
            $.getJSON('{{url_for('hootenflaten_status.status_awesome')}}',
            {
                id: status_id
            }, function(data) {
                if (data.awesome_list.length > 0) {
                    var names = [];
                    $(data.awesome_list).each(function(user) {
                        user_string = '<i><a href="/users/' + this.user_id + '">' + this.first_name + ' ' + this.last_name + '</a></i>';
                        names.push(user_string)
                    });
                    $(".awesome_list[status_id='"+ data.id + "']").each(function() {
                        this.innerHTML = names.join(",") + "  awesome'ed this<br/>";
                    })
                }
                else {
                    $(".awesome_list[status_id='"+ data.id + "']").each(function() {
                        this.innerHTML = "";
                    });
                }
            });
            return false;
        };
        hootenflaten.delete_status = function(status_id) {
            $.getJSON('{{url_for('hootenflaten_status.status_delete')}}',
            {
                id: status_id
            }, function(data) {
                if (data.status == "SUCCESS") {
                    $(".load_status[status_id='"+status_id+"']").each(function() {
                        $(this).hide('slow', function(){ $(this).remove(); });
                    })
                }
            });
        };
    </script>
    {% endblock %}

    {% endblock %}
</head>
<body>
{% block body %}
{% block nav_menu %}
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/">{{config.SHORT_NAME}}</a>
            {% if current_user.is_authenticated() %}
            <div class="btn-group pull-right">
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    {% if current_user.profile_image -%}
                    <img src="{{current_user.profile_image}}" height="18" width="18"/>
                    {%- endif %} {{current_user.full_name}} <span class="badge badge-info">3</span>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#"><i class="icon-envelope"></i> Messages <span class="badge badge-info">3</span></a></li>
                    <li><a href="#"><i class="icon-user"></i> Profile</a></li>
                    <li class="divider"></li>
                    <li><a href="{{url_for('auth.logout')}}">Sign Out</a></li>
                </ul>
            </div>
            {% else %}
            <div class="btn-group pull-right">
                <a class="btn" href="#">Login</a>
            </div>
            {% endif %}
            <div class="nav-collapse">
                <ul class="nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#about">People</a></li>
                    <li><a href="#contact">Calendar</a></li>
                    <li><a href="#about">Posts</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>
{% endblock %}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span2">
            {% block side_nav %}
            <div id="user_info" style="padding-bottom:15px; padding-left:10px">
            {% if current_user.profile_image %}
                 <img src="{{current_user.profile_image}}" height="40" width="40" style="padding-right:10px;border:1px;">
            {% endif %}
                <a href="#">{{current_user.full_name }}</a>
            {% endblock %}
            </div>
            <ul class="nav nav-list well">
                <li class="nav-header">
                    You
                </li>
                <li>
                    <a href="#">Messages</a>
                </li>
                <li>
                    <a href="#">Friends <span class="badge badge-warning">2 Requests</span></a>
                </li>
                <li>
                    <a href="#">Profile</a>
                </li>
                <li class="divider"></li>
                <li class="nav-header">
                    {{config.SHORT_NAME}}
                </li>

                <li class="active">
                    <a href="#">Activity Feed</a>
                </li>
                <li>
                    <a href="#">Events</a>
                </li>
                <li>
                    <a href="#">Message Board</a>
                </li>
            </ul>

        </div>
        <div class="span7">
            {% block flash_content %}
            {% with flash = get_flashed_messages(with_categories=true) %}

            {% if flash %}
                {% for category, message in flash %}
                <div class="alert {% if category == "error" %} alert-error {% else %} alert-success {% endif %}" id="flash">
                <button class="close" data-dismiss="alert">×</button>
                    {{message}}
                </div>
                {% endfor %}
            {% endif %}
            {% endwith%}
            {% endblock %}

            {% block main_content %}

            <div class="well announcement" id="hootenflaten_announcement_panel" >
                <button class="close" data-dismiss="alert">×</button>

                <h1>Special Announcement Panel</h1>
                <br/>
                <p>This is a special announcement panel. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut ipsum leo. Suspendisse quis libero eleifend tortor tempor convallis sit amet sit amet tellus. Phasellus vitae purus in orci pellentesque dignissim. Cras quis elit in sem vulputate pharetra vitae sit amet tortor. Fusce laoreet nulla in leo porta eu semper mauris placerat. Pellentesque fermentum venenatis quam, vel blandit purus consequat vel. Suspendisse posuere vestibulum diam, a pellentesque arcu molestie nec. Quisque nec neque et nunc porttitor lacinia. Maecenas iaculis risus ac lorem interdum at aliquam nibh molestie. Aenean sit amet nibh dignissim lorem dignissim semper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse elementum mattis odio, et gravida nulla auctor tempus.</p>
            </div>

            <div class="status_module" id="hootenflaten_status">
                <div class="status_post" id="hootenflaten_status_post" >
                    <div class="con">
                        <div class="pd">
                            <div class="status">Post a Status Update</div>
                            <div class="loading"></div>
                        </div>
                        <div class="img_top"></div>
                        <div class="text_status">
                            <textarea class="input_box" name="status_update_box" placeholder="What's up?"></textarea></div>
                            <button class="btn btn-primary" style="float:right; margin-top:5px;" id="post_status">Post</button>
                    </div>
                </div>

                <div id="new_statuses">
                </div>

                {% for status in statuses %}
                    <div class="load_status" status_id="{{status.id}}" id="main_status_{{status.id}}">
                        <div class="status_img"><img src="{{status.user.profile_image}}" /></div>
                        <div class="status_text"><a href="#" class="blue">{{status.user.full_name}}</a>
                            <p class="text">{{status.status_update}}</p>
                            <span class="date" date_id="{{status.id}}">{{status.created_at.timetuple()|mktime}}</span>
                            <span class="date"> | <a href="#" status_id="{{status.id}}" id="awesome_{{status.id}}" class="light_blue">Awesome!</a> &middot; <a href="#" status_id="{{status.id}}" class="light_blue comment_link">Comment</a>
                            {% if status.user == current_user %} &middot; <a href="#" id="delete_{{status.id}}" status_id="{{status.id}}" class="light_blue">Delete</a> {% endif %}</span>
                            <div class="date">
                                <span class="awesome_list" status_id="{{status.id}}">
                                {%- if status.awesome_list -%}
                                    {%- for user in status.awesome_list -%}
                                        <i><a href="/users/{{user.id}}">{{user.first_name}} {{user.last_name}}</a></i> {% if not loop.last %}, {% endif %}
                                    {%- endfor -%}
                                    awesome'ed this<br/>
                                {%- endif -%}</span></div>
                            <div class="comment_form" style="display:none;" status_id="{{status.id}}">
                                <img src="{{current_user.profile_image}}" height="36" width="36">
                                <textarea class="comment_box" name="comment_post" status_id="{{status.id}}" placeholder="Got a comment?"></textarea>
                                <div class="clear"></div>

                            </div>

                        </div>
                        <div class="clear"></div>
                    </div>
                    <script type="text/javascript">
                        $(function() {
                            var status_date = $("span[date_id='{{status.id}}']")[0].innerHTML;
                            result = localize_time(status_date);
                            $("span[date_id='{{status.id}}']")[0].innerHTML = result;
                            $("#awesome_{{status.id}}").click(function() {
                                hootenflaten.awesome_status($(this).attr("status_id"));
                                return false;
                            })
                            $("#delete_{{status.id}}").click(function() {
                                hootenflaten.delete_status($(this).attr("status_id"));
                                return false;
                            })

                        });
                    </script>
                {% endfor %}
                <div class="load_status">
                    <div class="status_img"><img src="{{current_user.profile_image}}" /></div>
                    <div class="status_text"><a href="#" class="blue">Nick Vlku</a>
                        <p class="text">Welcome to Hootenflaten!</p>
                        <div class="well">
                            <b><a href="http://hootenflaten.org">Hootenflaten Web Site</a></b><br/>
                            Hootenflaten is social in a box.
                        </div>
                        <div class="date">12:15 PM EDT June 14, 2013 &middot; <a href="#" class="light_blue">
                            Awesome!</a> &middot; <a href="#" class="light_blue">Comment</a></div>

                        <div class="status_comments">
                            <div class="comment_first">
                                <img src="{{current_user.profile_image}}" height=36 width=36 class="comment_photo"><a href="/users/1">Nick Vlku</a>
                                This is a comment about this post.  Love it!<br/>
                                <span class="date">12:19 PM EDT June 14, 2013</span>
                            </div>
                            <div class="comment">
                                <img src="{{current_user.profile_image}}" height=36 width=36 class="comment_photo"><a href="/users/1">Nick Vlku</a>
                                This is a comment about this post.  Love it!<br/>
                                <span class="date">12:19 PM EDT June 14, 2013</span>
                            </div>
                            <div class="comment">
                                <img src="{{current_user.profile_image}}" height=36 width=36 class="comment_photo"><a href="/users/1">Nick Vlku</a>
                                This is a comment about this post.  Love it!<br/>
                                <span class="date">12:19 PM EDT June 14, 2013</span>
                            </div>
                        </div>

                    </div>


                    <div class="clear"></div>
                </div>

                <div class="load_status">
                    <div class="status_img"><img src="https://graph.facebook.com/1402096/picture" /></div>
                    <div class="status_text"><a href="#" class="blue">Enia Titova</a>
                        <p class="text">Test Post!</p>
                        <img class="thumbnail" src="http://sphotos-a.xx.fbcdn.net/hphotos-ash4/396930_3732633712509_1541024994_n.jpg" width="200"/>
                        <div class="date">1:21 PM EDT June 15, 2013 &middot; <a href="#" class="light_blue">
                            Awesome!</a> &middot; <a href="#" class="light_blue">Comment</a></div>
                    </div>
                    <div class="clear"></div>
                </div>



            </div>
            {% endblock %}
        </div>
        <div class="span3">
            {% block right_side %}
            <div class="well">
                <h3 class="small">Newest Members</h3>
                <hr/>
                <div class="person"><img src="{{current_user.profile_image}}?type=large" height="60" width="60"><h5>Nick Vlku</h5><p>Class of 1999</p></div>
                <div class="person"><img src="{{current_user.profile_image}}?type=large" height="60" width="60"><h5>Nick Vlku</h5><p>Class of 1999</p></div>
                <div class="person"><img src="{{current_user.profile_image}}?type=large" height="60" width="60"><h5>Nick Vlku</h5><p>Class of 1999</p></div>
                <div class="person"><img src="{{current_user.profile_image}}?type=large" height="60" width="60"><h5>Nick Vlku</h5><p>Class of 1999</p></div>
                <div class="person"><img src="{{current_user.profile_image}}?type=large" height="60" width="60"><h5>Nick Vlku</h5><p>Class of 1999</p></div>
                <div class="person"><img src="{{current_user.profile_image}}?type=large" height="60" width="60"><h5>Nick Vlku</h5><p>Class of 1999</p></div>
                <div style="clear:both"></div>

            </div>
            <div style="clear:both"></div>

            <div class="well">
                <h3>Administrators</h3>
                <div class="person"><img src="{{current_user.profile_image}}?type=large" height="60" width="60"><h5>Nick Vlku</h5><p>Class of 1999</p></div>
                <div class="person"><img src="https://graph.facebook.com/1402096/picture?type=large" height="60" width="60"><h5>Enia Titova</h5><p>Class of 1999</p></div>
                <div style="clear:both"></div>

            </div>
            <div style="clear:both"></div>

            {% endblock %}
        </div>
    </div>
    <div class="span3">
    </div>

    <hr>

    {% block footer %}
    <footer>
        <p>&copy; {{config.FULL_NAME}} 2012 | Powered by Hootenflaten</p>
    </footer>
    {% endblock footer %}


</div><!--/.fluid-container-->

{% block bottom_javascript %}
<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<script src="{{ theme_static('bootstrap/js/bootstrap.min.js') }}"/></script>

<script type="text/javascript">
        $(function() {
            $("#post_status").click(function() {
                $.get('{{url_for('hootenflaten_status.status_post')}}',
                {
                    status: $('textarea[name="status_update_box"]').val()
                }, function(data) {

                    $("#new_statuses").prepend(data);
                    $("#new_statuses > [added='true']").each(function(element) {
                        $(this).fadeIn("slow");
                    });
                    $('textarea[name="status_update_box"]').val("");
                });
                return false;
            });

            $(".comment_link").click(function() {
                var status_id = $(this).attr("status_id");
                $(".comment_form[status_id='"+ status_id +"']").show();
            });
        });

</script>

{% endblock %}
{% endblock %}
</body>
</html>