{% macro input(field, classes="input-large", add_on=None, errors={}) -%}

<div class="control-group{% if field.id in errors.keys() %} error{% endif %}">
    {{ field.label(class="control-label") }}
    <div class="controls">
        {% if add_on -%}
            <div class="input-prepend">
                <span class="add-on"><i class="{{ add_on }}"></i></span>{{field(class_=classes,**kwargs)}}
            </div>
        {% else %}
            {{field(class_=classes,**kwargs)}}
        {%- endif %}
        <span class="formError help-inline">
        {% if field.id in errors.keys() -%}
            {% for error in errors[field.id] %}
            {{error}}
            {% endfor %}
        {%- endif %}
        </span>
    </div>
</div>
{%- endmacro %}
